<!DOCTYPE html>

<head>
    <title>Cuentas</title>
    
    
</head>
<body >
    <div class="page-header">
        <h1>
            Cuentas bancarias
         
           
        </h1>
    </div>


<div class="container">

      <form class="form-signin">

        <h2 class="form-signin-heading">Entrar</h2>
        <div ng-if="loginestatus && !logged " class="alert alert-danger" role="alert">{{loginestatus}}</div>
        <div ng-if="loginestatus && logged " class="alert alert-success" role="alert">{{loginestatus}}</div>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Usuario" ng-model="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="password" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(username,password)">Entrar</button>
      </form>


  </div> <!-- /container -->


    <div ng-if="estatus" class="alert alert-danger" role="alert">{{estatus}}</div>
   <P/>
 <div class="container">  
   <h2 class="form-signin-heading">Cuentas</h2>  
    <div class="panel">
        <div class="input-group input-group-lg">
           <span class="input-group-addon" id="sizing-addon1">@</span>
            <input class="form-control" ng-model="cuenta.numeroCuenta" placeholder="Numero de Cuenta" />
           
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">@</span>
            <input class="form-control" ng-model="cuenta.nombreCuenta" placeholder="Nombre del titular"/>
           <div class="input-group-btn">  <button type="button" class="btn btn-default" ng-click="addNewItem(cuenta)">Agregar</button> </div>
        </div>
        
  

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cuenta</th>
                    <th>Nombre</th>
                </tr>
            </thead>


            <tbody>
                <tr ng-repeat="cuenta in cuentas ">
                    <td>{{cuenta.numeroCuenta}}</td>
                    <td>{{cuenta.nombreCuenta}}</td>
                </tr>
            </tbody>
        </table>

        
    </div>
    </div>



</body>
</html>
